@import '@/styles/_variables.scss';

.singlePost {
	background-color: $blockBC;
	border-radius: 20px;
	padding: 15px;

	&__title {
		text-align: left;
		border-bottom: 1px gray solid;
		margin-bottom: 10px;

		font-size: 16px;
		color: black;
	}
	&__content {
		text-align: left;

		font-size: 14px;
	}
}
