@import '@/styles/_variables.scss';

.preloader {
	font-size: 32px;
}
.error {
	font-size: 32px;
	color: $errorMessageColor;
}

.profile {
	margin: 10px;
	padding: 10px;

	&__linkToUsers {
		a {
			text-decoration: none;
			color: $appFontColor;

			&:hover,
			:active {
				color: green;
			}
		}
		text-align: left;
		font-size: 18px;
		padding: 10px;
	}

	&__top {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		gap: 20px;
		padding-top: 10px;
		border-top: $defaultBorder;
		border-bottom: $defaultBorder;

		&__description {
			display: flex;
			flex-direction: column;
			gap: 10px;
			div {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				span {
					display: flex;
					font-size: 18px;
					line-height: 26px;
				}

				span:first-of-type {
					font-weight: 700;
					margin-right: 10px;
				}
			}
		}
	}

	&__bottom {
		.profile__nav {
			border-bottom: $defaultBorder;
		}
	}
}
