@import '@/styles/_variables.scss';

.photoSlider {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	&__arrows {
		font-size: 48px;
		color: black;
		opacity: 0.6;
		margin-bottom: 70px;
		cursor: pointer;
		width: 20px;
	}

	&__sideImage {
		height: $sideImgSize;
		width: $sideImgSize;
		margin-bottom: 60px;
		cursor: pointer;

		@media (max-width: 840px) {
			display: none;
		}
	}

	span {
		display: flex;
		flex-direction: column;
		.photoSlider___centralImage {
			height: $centralImgSize;
			width: $centralImgSize;
		}
		p {
			font-size: 16px;
			width: $centralImgSize;
			height: 54px;
			overflow: hidden;
		}
	}
}
