@import '@/styles/_variables.scss';

.profile__nav {
	font-size: 18px;
	line-height: 24px;
	display: flex;
	flex-direction: row;
	gap: 15px;
	padding-left: 5%;
	margin-top: 20px;

	a {
		color: $appFontColor;
		text-decoration: none;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
		width: 100px;

		&.selected {
			color: $profileNavSelectedColor;
			font-weight: bold;
		}
		&:hover,
		:active {
			font-weight: bold;
		}
	}
}
