@import '@/styles/_variables.scss';

.singleAlbum {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: $blockBC;
	width: max-content;
	padding: 20px;
	border-radius: 20px;

	@media (max-width: 700px) {
		width: 260px;
	}

	&__title {
		font-size: 20px;
		padding-bottom: 10px;
		height: 40px;
		overflow: hidden;

		@media (max-width: 840px) {
			width: 260px;
		}
	}
}
