@import '@/styles/_variables.scss';

.usersPage {
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		color: $appFontColor;
		text-decoration: none;
	}

	&__title {
		font-size: 30px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		padding: 20px;
	}
}
